
.navlinks{
    background-color: rgb(238, 153, 114); 
    height: 200px;
    display: flex;  
    flex-direction: row;
    align-items:center;
    /* justify-content:flex-end;  */
    flex-wrap: nowrap;
    list-style: none; 
    padding-left: 30px;
    /* border: 1px solid black; */

} 

  
 .navlinks li{
    margin-left: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* border: 1px solid black; */
    
 }
